body{

    background-color: lightgrey;
}


h2{
    color: lightseagreen;

    font: bold;

    font-family: 'Times New Roman', Times, serif;
    

}

.container {
 background-color:white;
margin-top: 1cm;
;

}

.navbar-brand{
    background-color:lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: x-large;
    padding: 2mm;
}

button{
    background-color: lightseagreen;
    color: white;
}